# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Main binary, built with `go build`
tfvm

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# test directory
test